#root{
    margin: 0;
    background-image: url(
        "./board_black_line_texture_background_wood_55220_1920x1080.jpg"
    );
    background-color:#0BCFF6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
