
.everything-current-task{
    display: flex;
    justify-content: center;
}

.current-task-container{
    justify-content: center;
    background-color: #262E2E;
    border-radius: 50px;
    max-width: 750px;
    min-width: 700px;
    min-height: 500px;
    padding: 1em;
    margin-top: 15px;
}

.header-text{
   color: white;
}


.current-task-main-container{
    justify-content: center; 
    /* margin-top: 15px; */
    max-width: 700px;
    min-width: 700px;
    min-height: 500px;
    max-height: 1000px;
    background-color: #262E2E;
    border-radius: 50px;
    padding: 0.8em;
}

.current-task-dev{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 30px;
    padding: 0.8em;
}

.tickets-main-container-currenttask{
    margin-top: 15px;
    padding: 1.5em;
    border-radius: 50px;
    background-color: whitesmoke;
    min-height: 390px;
}

.description-currenttask{
    margin-top: 50px;
    font-size: 18px;
}


.unclaimed-tickets-main-container-currenttask{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unclaimed-listed-ticket-currenttask{
    background-color: whitesmoke;
    border-radius: 50px;
    padding: 1.3em;
    margin: 15px;
    min-width: 690px;
}

.comment-input-area{
    width: 100%;
    min-height: 200px;
    font-size:12pt;
    margin-top: 2%;
    border-radius: 15px;
    padding: 5px;
    
    /* resize: none; */
}

.comment-button-submit{
   background-color: #262E2E;
   border-radius: 30px;
   color: white;
   border: none;
   cursor: pointer;
   width: 20%;
}

.username-comment{
    margin-top:50px;
}
.ticket-comments{
    margin-top: 5px;
}

.ticket-buttons-currenttask{
    margin-top: 145px;
   background-color: #262E2E;
   border-radius: 30px;
   color: white;
   border: none;
   cursor: pointer;
   width: 17%;
   
}



